.chat-main
  .chat-main__group-info
    .left-box 
      .current-group 
        = @group.name
      .group-memmber 
        - @group.users.each do |user|
          Member:
          = user.name
    .edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group,@message] do |f|
      .input-box
        = f.text_field :content, class: 'text-box', placeholder: 'type a message'
        = f.label :image, class: 'image-btn' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 's-btn'