.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name 
        = current_user.name
      .icons 
        = link_to "#", class: "icon-edit" do
          = icon('fa', 'edit')
        = link_to "edit_user_path", class: "icon-cog" do
          = icon('fa', 'cog')
        
        
  .side-bar__group-list
    .list
      = link_to "#", class: "group" do
        .group
          .group-name グループ１
          .message まだメッセージがありません